In [ ]:
'''
Steps to Modify and Export Data Using Python:

1. Load the Data into Jupyter
   - Open your Jupyter Notebook environment.  

2. Load the Data Using Pandas 
   - Use the Pandas library to load the data into your workspace as a DataFrame.

3. Select the Column to Modify  
   - Identify the column you want to modify or transform.  

4. Transform the Column 
   - Use appropriate Pandas methods to split, extract, or modify the selected column into new columns.

5. Update the Original DataFrame  
   - Add the newly created columns back to the original DataFrame.

6. Export the Updated DataFrame
   - Save the modified DataFrame to your desired file location in the format of your choice (e.g., CSV).
'''

In [19]:
#Load the Data Using Pandas 
import pandas as pd

csv = pd.read_csv("train.csv")

df = pd.DataFrame(csv)
print(df)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2017-152156  08/11/2017  11/11/2017    Second Class
1          2  CA-2017-152156  08/11/2017  11/11/2017    Second Class
2          3  CA-2017-138688  12/06/2017  16/06/2017    Second Class
3          4  US-2016-108966  11/10/2016  18/10/2016  Standard Class
4          5  US-2016-108966  11/10/2016  18/10/2016  Standard Class
...      ...             ...         ...         ...             ...
9795    9796  CA-2017-125920  21/05/2017  28/05/2017  Standard Class
9796    9797  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9797    9798  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9798    9799  CA-2016-128608  12/01/2016  17/01/2016  Standard Class
9799    9800  CA-2016-128608  12/01/2016  17/01/2016  Standard Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9795    SH-19975     Sally Hughsby  Corporate  United States          Chicago
9796    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9797    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9798    CS-12490  Cindy Schnelling  Corporate  United States           Toledo
9799    CS-12490  Cindy Schnelling  Corporate  United States           Toledo

           State  Postal Code   Region       Product ID         Category  \
0       Kentucky      42420.0    South  FUR-BO-10001798        Furniture
1       Kentucky      42420.0    South  FUR-CH-10000454        Furniture
2     California      90036.0     West  OFF-LA-10000240  Office Supplies
3        Florida      33311.0    South  FUR-TA-10000577        Furniture
4        Florida      33311.0    South  OFF-ST-10000760  Office Supplies
...          ...          ...      ...              ...              ...
9795    Illinois      60610.0  Central  OFF-BI-10003429  Office Supplies
9796        Ohio      43615.0     East  OFF-AR-10001374  Office Supplies
9797        Ohio      43615.0     East  TEC-PH-10004977       Technology
9798        Ohio      43615.0     East  TEC-PH-10000912       Technology
9799        Ohio      43615.0     East  TEC-AC-10000487       Technology

     Sub-Category                                       Product Name     Sales
0       Bookcases                  Bush Somerset Collection Bookcase  261.9600
1          Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2          Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3          Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4         Storage                     Eldon Fold 'N Roll Cart System   22.3680
...           ...                                                ...       ...
9795      Binders  Cardinal HOLDit! Binder Insert Strips,Extra St...    3.7980
9796          Art           BIC Brite Liner Highlighters, Chisel Tip   10.3680
9797       Phones                                        GE 30524EE4  235.1880
9798       Phones           Anker 24W Portable Micro USB Car Charger   26.3760
9799  Accessories                SanDisk Cruzer 4 GB USB Flash Drive   10.3840

[9800 rows x 18 columns]

In [6]:
df["Order Date"].head(10) #Select the Column to Modify

0    08/11/2017
1    08/11/2017
2    12/06/2017
3    11/10/2016
4    11/10/2016
5    09/06/2015
6    09/06/2015
7    09/06/2015
8    09/06/2015
9    09/06/2015
Name: Order Date, dtype: object

In [13]:
#Transform the Column 


# Convert the 'Order Date' column to datetime format
df["Order Date"] = pd.to_datetime(df["Order Date"], format="%d/%m/%Y")

# Extract Year, Quarter, and Month
df["Year"] = df["Order Date"].dt.year
df["Quarter"] = df["Order Date"].dt.quarter
df["Month"] = df["Order Date"].dt.month

# Display the first few rows to verify
df2 = df[["Order Date", "Year", "Quarter", "Month"]]
print(df2)

     Order Date  Year  Quarter  Month
0    2017-11-08  2017        4     11
1    2017-11-08  2017        4     11
2    2017-06-12  2017        2      6
3    2016-10-11  2016        4     10
4    2016-10-11  2016        4     10
...         ...   ...      ...    ...
9795 2017-05-21  2017        2      5
9796 2016-01-12  2016        1      1
9797 2016-01-12  2016        1      1
9798 2016-01-12  2016        1      1
9799 2016-01-12  2016        1      1

[9800 rows x 4 columns]

In [14]:
#Update the Original DataFrame 



# Create a new column with a formatted string
df["Order Date Format"] = df["Year"].astype(str) + "-Q" + df["Quarter"].astype(str) + "-M" + df["Month"].astype(str)

# Display the first few rows
print(df[["Order Date", "Year", "Quarter", "Month", "Order Date Format"]].head())

  Order Date  Year  Quarter  Month Order Date Format
0 2017-11-08  2017        4     11       2017-Q4-M11
1 2017-11-08  2017        4     11       2017-Q4-M11
2 2017-06-12  2017        2      6        2017-Q2-M6
3 2016-10-11  2016        4     10       2016-Q4-M10
4 2016-10-11  2016        4     10       2016-Q4-M10

In [17]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Year', 'Quarter', 'Month',
       'Order Date Format'],
      dtype='object')

In [18]:
#Export the Updated DataFrame

# Export the DataFrame to a CSV file
df.to_csv("C:\\Users\\bhara\\Downloads\\updated_dataset.csv", index=False)

print("File saved as 'updated_dataset.csv'")

File saved as 'updated_dataset.csv'